body{
    background-color: #fafafa;
    height: 100%;
    width: 100%;
    color: #181818;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: "Lexend";
}


.parent{
    height: 100%;
    width: 100%;
}


.nav{
    display: flex;
    justify-content: space-around;
    background-color: #1A1A1A;
    height: 12vh;
    align-items: center;
}

.Search{
    width: 66vh;
    height: 6vh;
    border: none;
    border-radius: 1.6vh;
    background-color: #EAEAEA;
    color: #181818;
    font-family: "Lexend";
    font-weight: 300;
    padding: 0vh 7vh 0vh 2vh;
    font-size: 1.8vh;
}
.bar_search{
    display: flex;
}

.icon{
    width: 4vh;
    height: 4vh;
}
.btn{
    height: 6vh;
    width: 6vh;
    border-radius: 1.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: -6.5vh;
    background-color: #EAEAEA;
    scale: 0.8;
}

.title{
    font-family: "Lexend";
    font-weight: 550;
    color: rgb(235, 235, 235);
    font-size: 2.1vh;
    margin-top: 1.4vh;
}

.subtitle{
    font-family: "Lexend";
    font-weight: 500;
    color: rgb(235, 235, 235);
    font-size: 2.8vh;
    margin-top: -2.8vh;
}

.head{
    scale: 1.16;
    transition: all 0.1s ease-in-out;
}
.head:hover{
    scale: 1.17;
}

.links{
    color: #ffffff;
    text-decoration: none;
    font-family: "Lexend";
    font-size: 2vh;
    font-weight: 400;
    transition: all 0.1s ease-in-out;
}
.links:hover{
    color: #ebebeb;
    scale: 1.02;
}

.main_content{
    height: 88vh;
    overflow: auto;
}

.pfp{
    color:#ffffff ;
    transition: all 0.1s ease-in-out;
}
.pfp:hover{
    color: #ebebeb;
    scale: 1.02;
}

.backbutton:hover{
    scale: 1.02;
}