<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Signup</title>
    <!--favicon css, fontapi -->
    <link rel="icon" href="/static/Images/fevicon.png">
    <link rel="stylesheet" href="/static/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="d-flex justify-content-center mt-1">
        {% with messages= get_flashed_messages(with_categories=true) %}
        {% for category, msg in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show w-50 d-flex justify-content-center p-2"
            role="alert" style="font-family: lexend;">
            {{ msg }}
            <button type="button" class="btn-close p-2 mt-1" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endwith %}
    </div>
<a href="/profile" style="text-decoration: none;">
    <div class="backbutton"
        style="display: flex;justify-content: center;align-items: center; font-family: lexend;font-size: 1.7vh;font-weight: 400; height: 4vh; width: 9vh; background-color: #181818; color: #ffffff; position: absolute;top: 6vh;left: 7vh; border-radius: 1vh;">
        Back</div>
</a>

    <form method="post">
        <div class="parent">
            <div class="box">
                <div class="contents">
                    <p class="title">Enter Company Details</p>
                    <div class="mainbody">
                        <div class="content_field">
                            <div class="field">
                                <p class="name">Company</p>
                                <input name="company" type="text" class="f" placeholder="ABC Technologies Pvt. Ltd." minlength="2" maxlength="150" required>
                            </div>
                            <div class="field">
                                <p class="name">Location</p>
                                <input name="location" type="text" class="f" placeholder="Bangalore, Karnataka" minlength="2" maxlength="100" required>
                            </div>
                        </div>
                        <div class="content_field">
                            <div class="field">
                                <p class="name">HR Contact</p>
                                <input name="hrcontact" type="text" class="f" placeholder="+91XXXXXXXXXX" minlength="7" maxlength="20" required>
                            </div>
                            <div class="field">
                                <p class="name">Website</p>
                                <input name="website" type="url" class="f" placeholder="https://www.abctech.com" minlength="5" maxlength="255" required>
                            </div>
                        </div>
                        <div class="content_field">
                            <div class="field">
                                <p class="name">Company Type</p>
                                <select name="companytype" id="companytype" class="f">
                                    <option value="Private Limited">Private Limited</option>
                                    <option value="Public Limited">Public Limited</option>
                                    <option value="PSU">PSU</option>
                                    <option value="MNC">MNC</option>
                                    <option value="Startup">Startup</option>
                                    <option value="Partnership">Partnership</option>
                                </select>
                            </div>
                            <div class="field">
                                <p class="name">Product & Services</p>
                                <select name="ps" id="ps" class="f">
                                    <option value="Product-Based">Product-Based</option>
                                    <option value="Service-Based">Service-Based</option>
                                    <option value="Hybrid">Hybrid</option>
                                </select>
                            </div>
                        </div>
                        <div class="content_field">
                            <div class="field">
                                <p class="name">Email</p>
                                <input name="email" type="email" class="f" placeholder="hr@abctech.com" minlength="7" maxlength="50" required>
                            </div>
                            <div class="field">
                                <p class="name">Password</p>
                                <input name="password" type="password" class="f" placeholder="Minimum 8 characters" minlength="8" maxlength="15" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="signup">Register</button></a>
                </div>
            </div>
        </div>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
    integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
    crossorigin="anonymous"></script>

</html>