{% extends "studenthome.html" %}
{% block title %}Drive Apply {% endblock %}
{% block content %}
<a href="/studenthome" style="text-decoration: none;">
    <div class="backbutton"
        style="display: flex;justify-content: center;align-items: center; font-family: lexend;font-size: 1.7vh;font-weight: 400; height: 4vh; width: 9vh; background-color: #181818; color: #ffffff; position: absolute;top: 14vh;left: 6vh; border-radius: 1vh;">
        Back</div>
</a>
<div style="display: flex; justify-content: space-between;margin-top: 2vh;">
    <div class="p-4 mt-5 rounded-2"
        style="margin-left: 11vh; width: 60%;background-color: rgb(246, 243, 243);box-shadow: 0vh 0vh 0.2vh 0vh #181818">
        <p class="text-center mb-3" style=" font-family:Lexend;font-size: 3.5vh;font-weight: 550;">
            {{company_name | upper}}</p>
        <form class="row g-3">
            <div class="col-md-6 mb-2">
                <label class="form-label">
                    <p
                        style="font-family: lexend; font-size: 1.5vh;font-weight: 700;margin-left: -0.3vh;margin-bottom: 0.5vh;">
                        Drive Name</p>
                </label>
                <input type="text" value="{{drive.drivename}}" name="drivename" class="form-control"
                    style="background-color:rgb(229, 229, 229);color: #262626;font-weight: 400;font-family: Lexend;"
                    disabled>
            </div>
            <div class="col-md-6 mb-2">
                <label class="form-label">
                    <p
                        style="font-family: lexend; font-size: 1.5vh;font-weight: 700;margin-left: -0.3vh;margin-bottom: 0.5vh;">
                        Job Title</p>
                </label>
                <input type="text" value="{{drive.jobtitle}}" name="jobtitle" class="form-control"
                    style="background-color:rgb(229, 229, 229);color: #262626;font-weight: 400;font-family: Lexend;"
                    disabled>
            </div>
            <div class="col-12 mb-2">
                <label class="form-label">
                    <p
                        style="font-family: lexend; font-size: 1.5vh;font-weight: 700;margin-left: -0.3vh;margin-bottom: 0.5vh;">
                        Job Description</p>
                </label>
                <textarea name="description" class="form-control" rows="3"
                    style="background-color:rgb(229, 229, 229);color: #262626;font-weight: 400;font-family: Lexend;"
                    disabled>{{drive.description}}</textarea>
            </div>
            <div class="col-12 mb-2">
                <label class="form-label">
                    <p
                        style="font-family: lexend; font-size: 1.5vh;font-weight: 700;margin-left: -0.3vh;margin-bottom: 0.5vh;">
                        Eligibility</p>
                </label>
                <textarea name="eligibility" class="form-control" rows="2"
                    style="background-color:rgb(229, 229, 229);color: #262626;font-weight: 400;font-family: Lexend;"
                    disabled>{{drive.eligibility}}</textarea>
            </div>
            <div class="col-md-6 mb-2">
                <label class="form-label">
                    <p
                        style="font-family: lexend; font-size: 1.5vh;font-weight: 700;margin-left: -0.3vh;margin-bottom: 0.5vh;">
                        Application Deadline</p>
                </label>
                <input type="date" value="{{drive.deadline}}" name="deadline" class="form-control"
                    style="background-color:rgb(229, 229, 229);color: #262626;font-weight: 400;font-family: Lexend;"
                    disabled>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">
                    <p
                        style="font-family: lexend; font-size: 1.5vh;font-weight: 700;margin-left: -0.3vh;margin-bottom: 0.5vh;">
                        Salary</p>
                </label>
                <input type="text" value="{{drive.salary}}" name="salary" class="form-control"
                    style="background-color:rgb(229, 229, 229);color: #262626;font-weight: 400;font-family: Lexend;"
                    disabled>
            </div>
        </form>
    </div>
    <div class="p-4 mt-5 rounded-2"
        style="margin-left:3vh;margin-right: 10vh; width: 40%;box-shadow: 0vh 0vh 0.2vh 0vh #181818;  background-color:  rgb(246, 243, 243);">

        <p class="text-center mb-4" style="font-family:Lexend;font-size: 4vh;font-weight: 600;">
            Application </p>
        <form class="row g-3" method="post">
            <div class="col-12 mb-4">
                <label class="form-label">
                    <p
                        style="font-family: lexend; font-size: 1.7vh;font-weight: 700;margin-left: -0.3vh;margin-bottom: 0.5vh;">
                        Resume Link</p>
                </label>
                <input type="url" name="resume" class="form-control"
                    style="background-color:rgb(229, 229, 229);color: #262626;font-weight: 400;font-family: Lexend;"
                    placeholder="Google drive link (Public link required)" minlength="4" required>
            </div>
            <div class="col-md-12 mb-4">
                <label class="form-label">
                    <p
                        style="font-family: lexend; font-size: 1.7vh;font-weight: 700;margin-left: -0.3vh;margin-bottom: 0.5vh;">
                        Applying For</p>
                </label>
                <select name="position" class="form-control"
                    style="background-color:rgb(229, 229, 229);color: #262626;font-weight: 450;font-family: Lexend;">
                    <option value="Full-Time Role" selected>Full-Time Role</option>
                    <option value="Internship">Internship</option>
                </select>
            </div>
            <div class="col-md-6 mb-5">
                <label class="form-label">
                    <p
                        style="font-family: lexend; font-size: 1.7vh;font-weight: 700;margin-left: -0.3vh;margin-bottom: 0.5vh;">
                        CGPA (out of 10)</p>
                </label>
                <input type="text" name="cgpa" class="form-control"
                    style="background-color:rgb(229, 229, 229);color: #262626;font-weight: 400;font-family: Lexend;"
                    placeholder="9.00" minlength="3" maxlength="5" required>
            </div>
            <div class="col-md-6 mb-5">
                <label class="form-label">
                    <p
                        style="font-family: lexend; font-size: 1.7vh;font-weight: 700;margin-left: -0.3vh;margin-bottom: 0.5vh;">
                        Expected Graduation Year</p>
                </label>
                <input type="text" name="year" class="form-control"
                    style="background-color:rgb(229, 229, 229);color: #262626;font-weight: 400;font-family: Lexend;"
                    placeholder="2028" minlength="4" required>
            </div>
            <div class="text-center viewbutton">
                <a href="/studenthome"><button type="submit" class="btn btn-dark"
                        style="width: 50vh;height: 7vh;font-family: Lexend;font-weight: 600;font-size: 2.5vh;">Apply</button></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}